* {
    margin: 0;
    padding: 0;
}

.html {
    height: 100%;
}

.body {
    overflow: hidden;
}

.navbar {
    background: lightgrey;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5em;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu li {
    display: inline-block;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-size: 1.2em;
}

.menu {
    display: flex;
    gap: 3em;
}

/* ANIMATION */
/* .text-animation-container {

} */

.text-animation-container .text {
    position: relative;
    color: palevioletred;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
}

.text-animation-container .text.static-text {
    color: black;
}

.text.first-slide:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 2px solid palevioletred;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}





